body {
    margin: 0;
    font-family: sans-serif;
}

#main-menu {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;

    width: 100%;
    height: 100%;
    overflow: auto;
    background: #eee;
    font-size: 6vh;
}
#main-menu a {
    flex: 50%;
    margin: 1px 0;
    padding: 2vh 0;
    background: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#map {
    width: 100%;
    height: 100%;
}
#btn-next {
    position: absolute;
    top: 100px;
    left: 70px;
    z-index: 1000;
}
#btn-prev {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1000;
}

.vehicle-marker-text {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 100px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #000;
}
.vehicle-northbound .vehicle-marker-text,
.vehicle-westbound .vehicle-marker-text { background-color: #ed1f24; }
.vehicle-southbound .vehicle-marker-text,
.vehicle-eastbound .vehicle-marker-text { background-color: #0072bc; }

.vehicle-marker-arrow {
    /* Assumes arrow revolves around a 100px radius */
    /* Buffer of 30px outside radius */
    position: absolute;
    top: 50px; /* 100px / 2 */
    left: -30px; /* -${buffer} */
    margin-top: -20px; /* ${font-size} / 2 */
    width: 160px; /* 100px + ${buffer} * 2 */
    font-size: 40px;
    text-align: right;
    pointer-events: none;
}
.vehicle-northbound .vehicle-marker-arrow,
.vehicle-westbound .vehicle-marker-arrow { color: #ed1f24; }
.vehicle-southbound .vehicle-marker-arrow,
.vehicle-eastbound .vehicle-marker-arrow { color: #0072bc; }

.vehicle-inactive {
}
.vehicle-inactive .vehicle-marker-arrow {
    color: #ccc;
}
.vehicle-inactive .vehicle-marker-text {
    background-color: #ccc;
}

.leaflet-control-locate span {
    line-height: 30px;
}
