body {
    margin: 0;
    font-family: sans-serif;
}

.hide {
    display: none;
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: #fff;
    background: #f00;
    z-index: 1000;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;

    width: 100%;
    height: 100%;
    overflow: auto;
    background: #eee;
    font-size: 6vh;

    z-index: 100;
}
#menu a {
    flex: 50%;
    margin: 1px 0;
    padding: 2vh 0;
    background: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#back {
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    z-index: 100;
}
#back a {
    padding: 10px;
    text-decoration: none;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 80;
}
#btn-next {
    position: absolute;
    top: 100px;
    left: 70px;
    z-index: 1000;
}
#btn-prev {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1000;
}

.vehicle-marker-text {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #000;
    border: 1px solid #333;
}
.vehicle-northbound .vehicle-marker-text,
.vehicle-westbound .vehicle-marker-text { background-color: #ed1f24; }
.vehicle-southbound .vehicle-marker-text,
.vehicle-eastbound .vehicle-marker-text { background-color: #0072bc; }

.vehicle-marker-arrow {
    /* Assumes arrow revolves around a 50px radius, with a 1px border */
    /* Buffer of 0px outside radius */
    position: absolute;
    top: 25px; /* radius / 2 */
    left: 0; /* -buffer */
    margin-top: -8px; /* font-size / 2 */
    width: 52px; /* 50px + (1px border * 2) + (buffer * 2) */
    font-size: 12px;
    text-align: right;
    pointer-events: none;
    color: #fff;
}

.leaflet-control-locate span {
    line-height: 30px;
}
