body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

#header {
    top: 0;
    left: 0;
    position: absolute;
    min-width: 400px;
    width: 100%;
    background: #333;
    color: #fff;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    z-index: 1000;
}
#header > h1 {
    margin: 0;
    padding: 0;
}
#header > h1 > a {
    float: left;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: normal;
    color: #fff;
}
#header > h1 > a > img {
    float: left;
    margin: 9px; /* (50px - 32px) / 2 */
}

.header-btn {
    float: right;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20pt;
    color: #fff;
}
.header-btn-active {
    background: #999;
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: #fff;
    background: #f00;
    z-index: 1000;
}

.route-list {
    position: absolute;
    top: 50px;
    left: 0;

    display: flex;
    flex-flow: row wrap;

    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    background: #eee;
    font-size: 4vh;

    z-index: 100;
}
.route-list > a {
    padding: 2vh 0;
    min-width: 75px;
    background: #fff;
    text-align: center;
    text-decoration: none;
}
.route-list.flex-25 > a {
    flex: 25%;
}
.route-list.flex-100 > a {
    flex: 100%;
}
.route-list > a:hover,
.route-list > a.active {
    background: #eee;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 80;
}
#btn-next {
    position: absolute;
    top: 100px;
    left: 70px;
    z-index: 1000;
}
#btn-prev {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1000;
}

.vehicle-marker-inner {
    background: #333;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 2em;
    line-height: 50px;
    text-align: center;

    transition-duration: 100ms;
    transform-origin: 50% 50%;
}
.vehicle-marker.condensed {
    font-size: 1.3em;
}

.northbound, .westbound { background: #ed1f24; }
.southbound, .eastbound { background: #0072bc; }

.vehicle-marker-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: 0.5em;
    text-align: right;
}
.vehicle-marker-arrow:after {
    content: "\27a4";
}

.eastbound > .vehicle-marker-arrow { transform: rotate(0); }
.southbound > .vehicle-marker-arrow { transform: rotate(90deg); }
.westbound > .vehicle-marker-arrow { transform: rotate(180deg); }
.northbound > .vehicle-marker-arrow { transform: rotate(270deg); }

.bus-stop-marker {
    background: #fff;
    border: 1px solid #999;
}

.hide {
    display: none;
}
